<p id="notice"><%= notice %></p>




<div id="pins" class="transitions-enabled">
      <% @ideas.each do |idea| %>
     <div class="box panel panel-default">
       <%= image_tag idea.picture_url() if idea.picture? %>
        <h2> <%= link_to idea.title, idea %></h2>
        <div class="desc">
          <%= idea.description %>
        </div>
        <p class="user">
          <%= raw idea.tag_list.map {|t| link_to t, tag_path(t)}.join(',') %>
          <% if idea.editable_by?(current_user) %>
          <%= link_to 'Edit', edit_idea_path(idea) %>
          <% end %>
        </p>
     </div>
      <% end %>
</div>






